*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('images/bcg1.jpg') 0 0 fixed;
    
}

.logo{
    height: 74px;
    margin: 5px;
    border: 2px solid rgb(47, 28, 158);
}

.sendIT{
    color: rgb(47, 28, 158);
    font-family: cursive;
    justify-content: left;
    font-size: 3.0rem;
}

.navigation{
    background: whitesmoke;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.5rem 6rem;
    border-bottom: 0.2rem solid fuchsia;
}

.nav_link{
    color: blue;
    font-size: 1.2rem;
    text-align: right;
    font-family: Georgia;
}

.nav_link:hover{
    cursor: pointer;
    color: #545454;
    font-size: 1.5rem;
}

.profile1{
    display: flex;
    float: left;
}

.profile2{
    float: right;
    display: flex;
}

#container{
    margin: auto;
    justify-content: center;
    padding: 20px 20px 20px 70px;
    min-height: 70vh; 
}

h1{
    text-align: justify;
    font-family: Trebuchet MS, Arial, "Helvetica", sans-serif;
}

li{
    list-style: none;
}

label{
    font-size: 1.1rem;
}

input[type=text], input[type=password], input[type=email], select {
    width: 60%;
    padding: 12px 20px;
    margin: 10px 20px 10px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

input[type=submit] {
    width: 55%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px 8px 184px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: Trebuchet MS, Arial, "Helvetica", sans-serif;
}

input[type=submit]:hover {
    background-color: green;
}

.orderDel{
    display: flex;
    float: left;
    padding: 12px 18px;
    background-color: green;
    color: antiquewhite;
    font-size: 1.7rem;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    height: 85px;
    width: 190px;
    text-align: center;
    margin-left: 80px;
    margin-top: 10px;
}

.orderDel:hover{
    background-color: rgb(62, 116, 62);
}

.orderTrans{
    float: right;
    display: flex;
    padding: 12px 18px;
    background-color: maroon;
    color: antiquewhite;
    font-size: 1.7rem;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    height: 85px;
    width: 180px;
    text-align: center;
    margin-right: 110px;
    margin-top: 10px;

}

.orderTrans:hover{
    background-color:  rgb(107, 48, 48);
}

.button{
    background-color: teal;
    font-size: 1.3rem;
    font-family: Trebuchet MS, Arial, "Helvetica", sans-serif;
    border: none;
    color: white;
    padding: 12px 25px;
    margin: 4px 2px;
    cursor: pointer;  
}

#btn{
    margin-top: 15px;
    margin-left: 900px;
}

#btn:hover{
    background-color: rgb(107, 48, 48);
    opacity: 0.8;
}

.table_title{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

#table_title{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 130px;
}

#orders {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0px 0px 0px 70px;
    justify-content: center;
}

#orders td, #orders th {
    border: 1px solid #ddd;
    padding: 1.5px;
    text-align: center;
    font-size: 1rem;
}

#orders tr:nth-child(even){
    background-color: #f3f3f3;
}

#orders tr:hover{
    background-color: #eee;
}

#orders th{
    padding-top: 11px;
    padding-bottom: 9px;
    background-color: grey;
    color: white;
}

#id_num{
    text-align: justify;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bolder;
}

p{
    text-align: justify;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1rem;     
}

#back_btn{
    margin-left: 80px;
}
