{
    "presets": [
        [
            "@babel/preset-env", "airbnb",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    // "plugins": [
    //     "transform-runtime",
    //     "transform-async-to-generator"
    // ]
}
