/* Index Page */
.bg-img {
    min-height: calc(100vh - 63.5px);
    background: url(../images/bcg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form1{
    margin: auto;
    justify-content: center;
    padding: 15px 20px 20px 20px;
    width: 350px;
    height: 330px;
    background-color: white;
}

.container1{
    padding-top: 100px;
    background-color: rgba(157, 173, 204, 0.5);
    justify-content: center;
    align-items: center;
    min-height: 90.4vh;
}

.form2{
    margin: auto;
    justify-content: center;
    padding: 4px 20px 10px 15px;
    width: 350px;
    height: 585px;
    background-color: white;
}

.container2{
    background-color: rgba(157, 173, 204, 0.5);
    justify-content: center;
    align-items: center;
    min-height: 90.4vh;
}

.form3{
    margin: auto;
    justify-content: center;
    padding: 6px 20px 10px 15px;
    width: 350px;
    height: 285px;
    background-color: white;
}

.container3{
    padding-top: 100px;
    background-color: rgba(157, 173, 204, 0.5);
    justify-content: center;
    align-items: center;
    min-height: 90.4vh;
}

.form4{
    margin: auto;
    justify-content: center;
    padding: 6px 20px 10px 20px;
    width: 350px;
    height: 435px;
    background-color: white;
}

.container4{
    padding-top: 60px;
    background-color: rgba(157, 173, 204, 0.5);
    justify-content: center;
    align-items: center;
    min-height: 89.35vh;
}

.create_link{
    text-decoration: none;
    color: blue;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.table_title{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 35px;
    margin-left: 200px;
}

#table_title{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

#orders{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1150px;
    margin: 5px 0px 0px 60px;
    justify-content: center;
}

#orders td{
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: center;
    font-size: 1.0rem;
}

#orders tr:nth-child(even){
    background-color: #f3f3f3;
}

#orders tr:hover{
    background-color: #eee;
}

#orders th{
    border: 1px solid #ddd;
    padding-top: 1rem;
    background-color: grey;
    color: white;
    font-size: 1.2rem;
}

#orders2{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1230px;
    margin: 10px 0px 0px 70px;
}

#orders2 td{
    border: 1px solid #ddd;
    padding: 0.6rem;
    text-align: center;
    font-size: 0.9rem;
}

#orders2 tr:nth-child(even){
    background-color: #f3f3f3;
}

#orders2 tr:hover{
    background-color: #eee;
}

#orders2 th{
    border: 1px solid #ddd;
    padding: 0.6rem;
    background-color: grey;
    color: white;
    font-size: 1.0rem;
}

.status{
width: 145px;
}

#id_num{
    text-align: justify;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bolder;
}

.bg_modal{
    height: 170%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
}

.modal{
    width: 380px;
    height: 260px;
    background-color: white;
    position: relative;
    justify-content: center;    
    padding: 25px 10px 10px 10px;
    border: 2px solid #545454;
    border-radius: 4px;
}

.view_modal{
    width: 420px;
    height: 500px;
    margin-top: 70px;
    background-color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 25px 10px 10px 10px;
    border: 2px solid #545454;
    border-radius: 4px;
}

.bgc_modal, .bgv_modal{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
}

.cancel_modal{
    width: 400px;
    height: 220px;
    background-color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 25px 10px 10px 10px;
    border: 2px solid #545454;
    border-radius: 4px;
}


/*Shared*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    min-height: 100%;
}

.logo{
    height: 40px;
    width: 50px;
    margin: 5px;
    border: 2px solid rgb(47, 28, 158);
}

.sendIT{
    color: rgb(47, 28, 158);
    font-family: cursive;
    justify-content: left;
    font-size: 2rem;
    text-decoration: none;
}

.navigation{
    background: whitesmoke;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.3rem 3rem;
    border-bottom: 0.2rem solid  rgb(47, 28, 158);
}

.nav_link2{ 
    float: right;
    justify-content: space-evenly;
}

.nav_link{
    padding: 1.1rem;
    color: blue;
    font-size: 1.2rem;
    font-family: Georgia;
    text-decoration: none;
}

.nav_link:hover{
    cursor: pointer;
    color: #545454;
    font-size: 1.5rem;
}

.profile1{
    display: flex;
    float: left;
}

.profile2{
    float: right;
    display: flex;
}

h1, h2, h3{
    text-align: center;
    font-family: Trebuchet MS, Arial, "Helvetica", sans-serif;
}

p{
    text-align: justify;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.1rem;     
}

li{
    list-style: none;
}

label{
    font-size: 0.9rem;
    display: grid;
    width: 150px;
}

input[type=text], input[type=password], input[type=email], select {
    width: 300px;
    padding: 8px;
    margin: 8px 20px 10px 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #f2f2f2
}

.all_order{
    margin-top: 20px;
    margin-left: 40px;
    width: 345px;
    height: 125px;
    font-family: georgia;
    font-size: 1.5rem;
    padding: 1.5px;
    border: 1px solid #717171;
}

.all_orders{
    margin-top: 20px;
    margin-left: 40px;
    width: 300px;
    height: 95px;
    font-family: georgia;
    font-size: 1.5rem;
    padding: 2px;
    border: 1px solid #717171;
}

.button{
    background-color: blue;
    font-size: 1.3rem;
    font-family: Trebuchet MS, Arial, "Helvetica", sans-serif;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 25px;
    margin: 0px 8px 8px 80px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: rgba(24, 20, 235, 0.884);
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close:hover{
    color: red;
}

.c_close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.c_close:hover{
    color: red;
}

.footer {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    background-color: rgba(157, 173, 204, 0.5) !important;
    border-top: 0.2rem solid  rgb(47, 28, 158);
}

.footer-working-hours{
    font-family: Trebuchet MS, Arial, "Helvetica", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 33%;
    float: left;
}

.copyright{
    text-align: center;
    float: left;
    width: 33%;
    padding-top: 170px !important;
}

.footer-menu {
    float: left;
    text-align: center;
    width: 33%
}

.clearfix {
    clear: left;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
